<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

    
    
    

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>




  <body>

      

    <div class="transparent-primary-navigation">
        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="header-block">
                        <ul id="mm-nav" class="mm-nav nav navbar-nav">
                                  <!-- inserted NavbarList -->
                         </ul>
                    </div>
                </nav>
            </div>
          </div>
      </div>



    
  
    
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/feed.js"></script>
  <script src="/static/js/index.js"></script>
</html>
